# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [15]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import csv
import os
from sqlalchemy import create_engine

In [16]:
# load messages dataset
messages = pd.read_csv('messages.csv', sep=',',encoding='utf-8')  
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [17]:
# load categories dataset
categories = pd.read_csv('categories.csv', sep=',',encoding='utf-8')  
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [18]:
# merge datasets
df = pd.merge(messages, categories, on='id', how='inner')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [19]:
categories_new  =  pd.DataFrame()
categories_new = df['categories'].str.split(';', expand=True)
categories_new.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [20]:
# create a dataframe of the 36 individual category columns

# Split the categories column on ';' to create multiple columns
#categories_new = df['categories'].str.split(';', expand=True)

# Extract category names by taking the part before '-0' or '-1'
row = categories_new.iloc[0]  # Get the first row (can be any row)
category_colnames = row.apply(lambda x: x.split('-')[0])


# Rename the columns
categories_new.columns = category_colnames
categories_new.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [21]:
# Convert category values to 0 or 1 by taking the last character of each string
for column in categories_new:
    # set each value to be the last character of the string
    categories_new[column] = categories_new[column].apply(lambda x: int(x.split('-')[1]))

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [22]:
# drop the original categories column from `df`
# Drop the original categories column and join the split columns
df = df.drop('categories', axis=1)
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [23]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories_new], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [24]:
# check number of duplicates

duplicates = df.duplicated()
print(duplicates)
duplicate_rows = df[df.duplicated()]
print("Duplicate rows:")
print(duplicate_rows)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
26356    False
26357    False
26358    False
26359    False
26360    False
26361    False
26362    False
26363    False
26364    False
26365    False
26366    False
26367    False
26368    False
26369    False
26370    False
26371    False
26372    False
26373    False
26374    False
26375    False
26376    False
26377    False
26378    False
26379    False
26380    False
26381    False
26382    False
26383    False
26384    False
26385    False
Length: 26386, dtype: bool
Duplicate rows:
          id                                            message  \
164      202  ?? port au prince ?? and food. they need gover...
165      202  ?? port au prince ?? and food. they need gover...
658      804  elle est vraiment malade et a besoin d'aide. u...
659      804  elle est vraiment malade et a besoin d'aide. u...
660      804  elle est vraiment malade et a besoin d'aide. u...
715      862  What is the address of the radio station? I as...
716      862  What is the address of the radio station? I as...
1415    1652  please we need water, food and tents, we have ...
1416    1652  please we need water, food and tents, we have ...
2139    2446  How much money did TV Latino American collect ...
2140    2446  How much money did TV Latino American collect ...
2141    2446  How much money did TV Latino American collect ...
2803    3217  Sir or madam, I'm hungry, I cannot stand becau...
2804    3217  Sir or madam, I'm hungry, I cannot stand becau...
2805    3217  Sir or madam, I'm hungry, I cannot stand becau...
2838    3250  I thought you gave my number and this was seri...
2839    3250  I thought you gave my number and this was seri...
3389    3882  I am in Carefour Feuilles, Dkayet neighborhood...
3390    3882  I am in Carefour Feuilles, Dkayet neighborhood...
3868    4412  Good evening staff of responsibles, please giv...
3869    4412  Good evening staff of responsibles, please giv...
3870    4412  Good evening staff of responsibles, please giv...
4360    4956  What we saw yesterday is a sign, you need to k...
4361    4956  What we saw yesterday is a sign, you need to k...
4543    5153  there are people in Delmas 32 who form an asso...
4544    5153  there are people in Delmas 32 who form an asso...
4652    5265  (Delmas 33 Charboniere infomatyon s'il vous pl...
4653    5265  (Delmas 33 Charboniere infomatyon s'il vous pl...
4654    5265  (Delmas 33 Charboniere infomatyon s'il vous pl...
4917    5573  If I would like to find a job in cepoz, what s...
...      ...                                                ...
20073  23229  * German Agro Action (GAA) reported that in th...
20991  24247  As we approach Luabo, I get my first impressio...
20992  24247  As we approach Luabo, I get my first impressio...
21083  24347  In response to North Korea's devastating artil...
21084  24347  In response to North Korea's devastating artil...
21477  24779  Shelter materials (thick polyesters) are being...
21478  24779  Shelter materials (thick polyesters) are being...
21479  24779  Shelter materials (thick polyesters) are being...
21480  24779  Shelter materials (thick polyesters) are being...
21481  24779  Shelter materials (thick polyesters) are being...
21482  24779  Shelter materials (thick polyesters) are being...
21483  24779  Shelter materials (thick polyesters) are being...
21484  24779  Shelter materials (thick polyesters) are being...
22153  25512  The flood situation has worsened with nearly 3...
22154  25512  The flood situation has worsened with nearly 3...
23736  27296  The regime says the charter will clear the way...
23737  27296  The regime says the charter will clear the way...
23738  27296  The regime says the charter will clear the way...
24169  27768  An EU-backed French offensive against rebels r...
24170  27768  An EU-backed French offensive against rebels r...
24779  28462  To date, a total of 39 people suffering from E...
24780  28462  To date, a total of 39 people suffering from E...
24988  28687  At present, UNHCR has 2,500 additional tents a...
24989  28687  At present, UNHCR has 2,500 additional tents a...
24990  28687  At present, UNHCR has 2,500 additional tents a...
25291  29022  In a field in Jallouzai, just inside Pakistan,...
25292  29022  In a field in Jallouzai, just inside Pakistan,...
25378  29119  Most victims (90 per cent) show little or no s...
25379  29119  Most victims (90 per cent) show little or no s...
25380  29119  Most victims (90 per cent) show little or no s...

                                                original   genre  related  \
164    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct        1
165    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct        1
658    she is really sick she need your help. please ...  direct        2
659    she is really sick she need your help. please ...  direct        2
660    she is really sick she need your help. please ...  direct        2
715    Ki adres radyo a? Paske m bezwen al depoze dos...  direct        0
716    Ki adres radyo a? Paske m bezwen al depoze dos...  direct        1
1415   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct        1
1416   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct        1
2139         Konbyen kob tv latino america ranmase miami  direct        1
2140         Konbyen kob tv latino america ranmase miami  direct        1
2141         Konbyen kob tv latino america ranmase miami  direct        1
2803   Mesye ou madam mwen grangou mwen pa menm kakan...  direct        1
2804   Mesye ou madam mwen grangou mwen pa menm kakan...  direct        1
2805   Mesye ou madam mwen grangou mwen pa menm kakan...  direct        1
2838   Mwen tepanse le nou tebay nimewo a se yon afse...  direct        1
2839   Mwen tepanse le nou tebay nimewo a se yon afse...  direct        1
3389   Mwen nan kafou fy zon dekayt nou beswen dlo po...  direct        1
3390   Mwen nan kafou fy zon dekayt nou beswen dlo po...  direct        1
3868   Bonswa staf responsab svp banm yon ti d paske ...  direct        1
3869   Bonswa staf responsab svp banm yon ti d paske ...  direct        1
3870   Bonswa staf responsab svp banm yon ti d paske ...  direct        1
4360   a nou w la yo se sign yoy ou bezwen kon sa Jez...  direct        1
4361   a nou w la yo se sign yoy ou bezwen kon sa Jez...  direct        0
4543   Ginyin yon paket moun delmas 32 ki forme organ...  direct        1
4544   Ginyin yon paket moun delmas 32 ki forme organ...  direct        1
4652        Delmas 33, charbonniere, information please.  direct        2
4653        Delmas 33, charbonniere, information please.  direct        2
4654        Delmas 33, charbonniere, information please.  direct        2
4917   Si mwen ta renmen jwen travay nan cepoz ki sa ...  direct        0
...                                                  ...     ...      ...
20073                                                NaN    news        1
20991                                                NaN    news        1
20992                                                NaN    news        1
21083                                                NaN    news        1
21084                                                NaN    news        1
21477                                                NaN    news        1
21478                                                NaN    news        1
21479                                                NaN    news        1
21480                                                NaN    news        1
21481                                                NaN    news        1
21482                                                NaN    news        1
21483                                                NaN    news        1
21484                                                NaN    news        1
22153                                                NaN    news        1
22154                                                NaN    news        1
23736                                                NaN    news        1
23737                                                NaN    news        1
23738                                                NaN    news        1
24169                                                NaN    news        1
24170                                                NaN    news        1
24779                                                NaN    news        1
24780                                                NaN    news        1
24988                                                NaN    news        1
24989                                                NaN    news        1
24990                                                NaN    news        1
25291                                                NaN    news        1
25292                                                NaN    news        1
25378                                                NaN    news        1
25379                                                NaN    news        1
25380                                                NaN    news        1

       request  offer  aid_related  medical_help  medical_products  \
164          1      0            1             0                 0
165          1      0            1             0                 0
658          0      0            0             0                 0
659          0      0            0             0                 0
660          0      0            0             0                 0
715          0      0            0             0                 0
716          0      0            0             0                 0
1415         1      0            1             0                 0
1416         1      0            1             0                 0
2139         0      0            0             0                 0
2140         0      0            0             0                 0
2141         0      0            0             0                 0
2803         1      0            1             0                 0
2804         1      0            1             0                 0
2805         1      0            1             0                 0
2838         0      0            0             0                 0
2839         1      0            0             0                 0
3389         1      0            1             0                 0
3390         1      0            1             1                 0
3868         1      0            1             0                 0
3869         1      0            1             0                 0
3870         1      0            1             0                 0
4360         0      0            0             0                 0
4361         0      0            0             0                 0
4543         0      0            1             0                 0
4544         0      0            1             0                 0
4652         0      0            0             0                 0
4653         0      0            0             0                 0
4654         0      0            0             0                 0
4917         0      0            0             0                 0
...        ...    ...          ...           ...               ...
20073        0      0            1             0                 0
20991        0      0            0             0                 0
20992        0      0            1             0                 0
21083        0      0            1             0                 0
21084        0      0            1             0                 0
21477        0      0            1             0                 0
21478        0      0            1             0                 0
21479        0      0            1             0                 0
21480        0      0            1             0                 0
21481        0      0            1             0                 0
21482        0      0            1             0                 0
21483        0      0            1             0                 0
21484        0      0            1             0                 0
22153        0      0            1             0                 0
22154        0      0            1             0                 0
23736        0      0            0             0                 0
23737        0      0            0             0                 0
23738        0      0            0             0                 0
24169        0      0            1             0                 0
24170        0      0            0             0                 0
24779        1      0            1             1                 0
24780        0      0            1             1                 0
24988        0      0            1             0                 0
24989        0      0            1             0                 0
24990        0      0            1             0                 0
25291        1      0            1             0                 1
25292        0      0            1             0                 1
25378        0      0            1             1                 0
25379        0      0            1             1                 0
25380        0      0            1             1                 0

           ...        aid_centers  other_infrastructure  weather_related  \
164        ...                  0                     0                0
165        ...                  0                     0                0
658        ...                  0                     0                0
659        ...                  0                     0                0
660        ...                  0                     0                0
715        ...                  0                     0                0
716        ...                  0                     0                0
1415       ...                  0                     0                0
1416       ...                  0                     0                0
2139       ...                  0                     0                0
2140       ...                  0                     0                0
2141       ...                  0                     0                0
2803       ...                  0                     0                0
2804       ...                  0                     0                0
2805       ...                  0                     0                0
2838       ...                  0                     0                0
2839       ...                  0                     0                0
3389       ...                  0                     0                0
3390       ...                  0                     0                0
3868       ...                  0                     0                0
3869       ...                  0                     0                0
3870       ...                  0                     0                0
4360       ...                  0                     0                0
4361       ...                  0                     0                0
4543       ...                  0                     0                0
4544       ...                  0                     0                0
4652       ...                  0                     0                0
4653       ...                  0                     0                0
4654       ...                  0                     0                0
4917       ...                  0                     0                0
...        ...                ...                   ...              ...
20073      ...                  0                     0                0
20991      ...                  0                     0                0
20992      ...                  0                     0                0
21083      ...                  0                     0                1
21084      ...                  0                     0                1
21477      ...                  0                     0                0
21478      ...                  0                     0                0
21479      ...                  0                     0                0
21480      ...                  0                     0                0
21481      ...                  0                     0                0
21482      ...                  0                     0                0
21483      ...                  0                     0                0
21484      ...                  0                     0                0
22153      ...                  0                     1                1
22154      ...                  0                     0                1
23736      ...                  0                     0                0
23737      ...                  0                     0                0
23738      ...                  0                     0                0
24169      ...                  0                     0                0
24170      ...                  0                     0                0
24779      ...                  0                     0                0
24780      ...                  0                     0                0
24988      ...                  0                     0                0
24989      ...                  0                     0                0
24990      ...                  0                     0                0
25291      ...                  0                     0                0
25292      ...                  0                     0                0
25378      ...                  0                     0                0
25379      ...                  0                     0                0
25380      ...                  0                     0                0

       floods  storm  fire  earthquake  cold  other_weather  direct_report
164         0      0     0           0     0              0              0
165         0      0     0           0     0              0              0
658         0      0     0           0     0              0              0
659         0      0     0           0     0              0              0
660         0      0     0           0     0              0              0
715         0      0     0           0     0              0              0
716         0      0     0           0     0              0              0
1415        0      0     0           0     0              0              1
1416        0      0     0           0     0              0              1
2139        0      0     0           0     0              0              0
2140        0      0     0           0     0              0              0
2141        0      0     0           0     0              0              0
2803        0      0     0           0     0              0              1
2804        0      0     0           0     0              0              1
2805        0      0     0           0     0              0              1
2838        0      0     0           0     0              0              0
2839        0      0     0           0     0              0              1
3389        0      0     0           0     0              0              1
3390        0      0     0           0     0              0              1
3868        0      0     0           0     0              0              1
3869        0      0     0           0     0              0              1
3870        0      0     0           0     0              0              1

In [31]:
# drop duplicates
df_no_duplicates = df.drop_duplicates()
df_cleaned = df_no_duplicates[df_no_duplicates['related'] != 2]
df_cleaned['related'].unique()

array([1, 0])

In [32]:
# check number of duplicates
duplicates_new = df_cleaned.duplicated()
print(duplicates_new)
duplicate_rows_new = df_cleaned[df_cleaned.duplicated()]
print("Duplicate rows:")
print(duplicate_rows_new)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
26356    False
26357    False
26358    False
26359    False
26360    False
26361    False
26362    False
26363    False
26364    False
26365    False
26366    False
26367    False
26368    False
26369    False
26370    False
26371    False
26372    False
26373    False
26374    False
26375    False
26376    False
26377    False
26378    False
26379    False
26380    False
26381    False
26382    False
26383    False
26384    False
26385    False
Length: 26028, dtype: bool
Duplicate rows:
Empty DataFrame
Columns: [id, message, original, genre, related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 40 columns]

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [33]:
filepath = "cleanedDataBase1"
engine = create_engine(f'sqlite:///{os.path.abspath(filepath)}')
df_cleaned.to_sql('CleanedData', engine, index=False, if_exists='replace')

### 8. Use this notebook to complete `process_data.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `process_data.py` in the classroom on the `Project Workspace IDE` coming later.

In [34]:
df_cleaned.to_csv('cleanedData.csv', sep=',',encoding='utf-8',index=False)